<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/page_two.css">
</head>

<body>
    <header>
        <div class="head">

            <div id="bottom">
                <p>use <b>NEW200</b><pre> </pre>to get flat Rs. 150 off</p>

            </div>

            <div id="navbar">
                <div class="nav-logo">
                    <div onclick="goBack()" class="nav-back">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" fill="none" stroke="#292D32" style="width: 24px; height: 24px; cursor: pointer;"><path stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5" d="m9.57 6.387-6.07 6.07 6.07 6.07M20.5 12.457H3.67"></path></svg>
                    </div>
                    <div id="logo">
                        <img src="/images/newme.png">
                    </div>
                </div>

                <div id="navicons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" fill="none"><path stroke="#292D32" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9.583 18.38a7.917 7.917 0 1 0 0-15.834 7.917 7.917 0 0 0 0 15.834ZM18.333 19.213l-1.666-1.667"></path></svg>                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" fill="none" color="#000000"><mask id="Cart_svg__a" fill="currentColor"><path d="M14.242 18.958H6.75c-1.433 0-2.508-.383-3.175-1.141-.667-.759-.925-1.859-.75-3.284l.75-6.25c.217-1.841.683-3.491 3.933-3.491h6c3.242 0 3.709 1.65 3.934 3.491l.75 6.25c.166 1.425-.084 2.534-.75 3.284-.692.758-1.759 1.141-3.2 1.141ZM7.5 6.042c-2.4 0-2.517.95-2.692 2.383l-.75 6.25c-.125 1.058.025 1.833.45 2.308.425.475 1.175.717 2.242.717h7.492c1.066 0 1.816-.242 2.241-.717.425-.475.575-1.25.45-2.308l-.75-6.25c-.175-1.442-.283-2.384-2.691-2.384H7.5Z"></path></mask><path fill="currentColor" d="M14.242 18.958H6.75c-1.433 0-2.508-.383-3.175-1.141-.667-.759-.925-1.859-.75-3.284l.75-6.25c.217-1.841.683-3.491 3.933-3.491h6c3.242 0 3.709 1.65 3.934 3.491l.75 6.25c.166 1.425-.084 2.534-.75 3.284-.692.758-1.759 1.141-3.2 1.141ZM7.5 6.042c-2.4 0-2.517.95-2.692 2.383l-.75 6.25c-.125 1.058.025 1.833.45 2.308.425.475 1.175.717 2.242.717h7.492c1.066 0 1.816-.242 2.241-.717.425-.475.575-1.25.45-2.308l-.75-6.25c-.175-1.442-.283-2.384-2.691-2.384H7.5Z"></path><path fill="currentColor" d="m2.825 14.533 1.489.183v-.004l-1.49-.179Zm.75-6.25 1.49.179v-.004l-1.49-.175Zm13.867 0 1.489-.179v-.003l-1.49.182Zm.75 6.25 1.49-.174-.001-.005-1.49.18Zm-.75 3.284 1.108 1.01.006-.007.007-.007-1.121-.996ZM4.808 8.425 3.32 8.243v.003l1.49.179Zm-.75 6.25-1.489-.179v.003l1.49.176Zm12.875 0 1.49-.176v-.003l-1.49.179Zm-.75-6.25 1.49-.179v-.002l-1.49.18Zm-1.941 9.033H6.75v3h7.492v-3Zm-7.492 0c-1.194 0-1.773-.318-2.048-.632l-2.254 1.98c1.058 1.204 2.629 1.652 4.302 1.652v-3Zm-2.048-.632c-.287-.326-.532-.937-.388-2.11l-2.978-.366c-.206 1.678.066 3.266 1.112 4.457l2.254-1.98Zm-.388-2.114.75-6.25-2.978-.358-.75 6.25 2.978.358Zm.75-6.254c.109-.92.253-1.371.48-1.636.157-.184.58-.53 1.964-.53v-3c-1.865 0-3.301.478-4.244 1.58-.873 1.02-1.07 2.314-1.179 3.236l2.98.35Zm2.444-2.167h6v-3h-6v3Zm6 0c1.379 0 1.8.346 1.959.531.228.267.373.72.486 1.643l2.977-.364c-.112-.919-.313-2.211-1.184-3.23-.942-1.1-2.374-1.58-4.238-1.58v3Zm2.444 2.17.75 6.25 2.979-.357-.75-6.25-2.979.358Zm.75 6.246c.14 1.193-.107 1.804-.382 2.113l2.243 1.993c1.058-1.19 1.312-2.797 1.119-4.454l-2.98.348Zm-.369 2.099c-.31.34-.9.652-2.091.652v3c1.692 0 3.234-.453 4.308-1.63l-2.217-2.022ZM7.5 4.54c-1.322 0-2.535.248-3.327 1.188-.375.445-.558.936-.663 1.353-.1.4-.15.827-.19 1.161l2.977.364c.047-.383.077-.612.123-.794.041-.164.07-.179.047-.15-.09.106-.045-.122 1.033-.122v-3ZM3.319 8.246l-.75 6.25 2.979.357.75-6.25-2.979-.357Zm-.75 6.253c-.143 1.206-.036 2.526.821 3.484l2.236-2-.001-.002a.81.81 0 0 1-.075-.22c-.037-.19-.052-.484-.002-.91l-2.98-.352Zm.821 3.484c.851.951 2.138 1.217 3.36 1.217v-3c-.429 0-.72-.05-.904-.109a.826.826 0 0 1-.177-.076.193.193 0 0 1-.043-.032l-2.236 2ZM6.75 19.2h7.492v-3H6.75v3Zm7.492 0c1.222 0 2.508-.266 3.36-1.217l-2.237-2c0 .001-.011.013-.042.032a.827.827 0 0 1-.178.076c-.184.06-.475.109-.903.109v3Zm3.36-1.217c.856-.958.963-2.278.82-3.484l-2.978.352c.05.426.035.72-.002.91a.806.806 0 0 1-.071.214.073.073 0 0 1-.006.008l2.236 2Zm.82-3.487-.75-6.25-2.978.358.75 6.25 2.979-.358Zm-.75-6.252c-.04-.334-.09-.763-.189-1.162-.104-.417-.285-.91-.66-1.356-.794-.942-2.011-1.184-3.331-1.184v3c1.088 0 1.13.228 1.036.117-.026-.03.003-.018.044.147.046.184.075.413.122.8l2.978-.362Zm-4.18-3.702H7.5v3h5.992v-3Z" mask="url(#Cart_svg__a)"></path><mask id="Cart_svg__b" fill="currentColor"><path d="M13.833 7.292a.63.63 0 0 1-.625-.625V3.75c0-.9-.558-1.458-1.458-1.458h-2.5c-.9 0-1.458.558-1.458 1.458v2.917a.63.63 0 0 1-.625.625.63.63 0 0 1-.625-.625V3.75c0-1.592 1.116-2.708 2.708-2.708h2.5c1.592 0 2.708 1.116 2.708 2.708v2.917a.63.63 0 0 1-.625.625Z"></path></mask><path fill="currentColor" d="M13.833 7.292a.63.63 0 0 1-.625-.625V3.75c0-.9-.558-1.458-1.458-1.458h-2.5c-.9 0-1.458.558-1.458 1.458v2.917a.63.63 0 0 1-.625.625.63.63 0 0 1-.625-.625V3.75c0-1.592 1.116-2.708 2.708-2.708h2.5c1.592 0 2.708 1.116 2.708 2.708v2.917a.63.63 0 0 1-.625.625Z"></path><path fill="currentColor" d="M13.833 5.792a.87.87 0 0 1 .875.875h-3a2.13 2.13 0 0 0 2.125 2.124v-3Zm.875.875V3.75h-3v2.917h3Zm0-2.917c0-.764-.243-1.54-.83-2.127-.588-.588-1.364-.831-2.128-.831v3c.07 0 .095.01.086.007a.281.281 0 0 1-.135-.135c-.004-.009.007.015.007.086h3ZM11.75.792h-2.5v3h2.5v-3Zm-2.5 0c-.764 0-1.54.243-2.127.83-.588.588-.831 1.364-.831 2.128h3c0-.07.01-.095.007-.086a.286.286 0 0 1-.135.135c-.009.003.015-.007.086-.007v-3ZM6.292 3.75v2.917h3V3.75h-3Zm0 2.917a.87.87 0 0 1 .875-.875v3a2.13 2.13 0 0 0 2.125-2.125h-3Zm.875-.875a.87.87 0 0 1 .875.875h-3A2.13 2.13 0 0 0 7.167 8.79v-3Zm.875.875V3.75h-3v2.917h3Zm0-2.917c0-.436.146-.72.318-.89.17-.172.454-.318.89-.318v-3c-1.156 0-2.227.411-3.012 1.196-.785.785-1.196 1.856-1.196 3.012h3ZM9.25 2.542h2.5v-3h-2.5v3Zm2.5 0c.436 0 .72.146.89.317.172.172.318.455.318.89h3c0-1.155-.411-2.226-1.196-3.01-.785-.786-1.856-1.197-3.012-1.197v3Zm1.208 1.208v2.917h3V3.75h-3Zm0 2.917a.87.87 0 0 1 .875-.875v3a2.13 2.13 0 0 0 2.125-2.125h-3Z" mask="url(#Cart_svg__b)"></path><mask id="Cart_svg__c" fill="currentColor"><path d="M17.508 14.817H7.167a.63.63 0 0 1-.625-.625.63.63 0 0 1 .625-.625h10.341a.63.63 0 0 1 .625.625.63.63 0 0 1-.625.625Z"></path></mask><path fill="currentColor" d="M17.508 14.817H7.167a.63.63 0 0 1-.625-.625.63.63 0 0 1 .625-.625h10.341a.63.63 0 0 1 .625.625.63.63 0 0 1-.625.625Z"></path><path fill="currentColor" d="M17.508 13.317H7.167v3h10.341v-3Zm-10.341 0a.87.87 0 0 1 .875.875h-3a2.13 2.13 0 0 0 2.125 2.125v-3Zm.875.875a.87.87 0 0 1-.875.875v-3a2.13 2.13 0 0 0-2.125 2.125h3Zm-.875.875h10.341v-3H7.167v3Zm10.341 0a.87.87 0 0 1-.875-.875h3a2.13 2.13 0 0 0-2.125-2.125v3Zm-.875-.875a.87.87 0 0 1 .875-.875v3a2.13 2.13 0 0 0 2.125-2.125h-3Z" mask="url(#Cart_svg__c)"></path></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" style="width: 25px;"><path stroke="#292D32" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M18.04 13.55c-.42.41-.66 1-.6 1.63.09 1.08 1.08 1.87 2.16 1.87h1.9v1.19c0 2.07-1.69 3.76-3.76 3.76H6.26c-2.07 0-3.76-1.69-3.76-3.76v-6.73c0-2.07 1.69-3.76 3.76-3.76h11.48c2.07 0 3.76 1.69 3.76 3.76v1.44h-2.02c-.56 0-1.07.22-1.44.6Z"></path><path stroke="#292D32" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2.5 12.41V7.84c0-1.19.73-2.25 1.84-2.67l7.94-3a1.9 1.9 0 0 1 2.57 1.78v3.8M22.559 13.97v2.06c0 .55-.44 1-1 1.02h-1.96c-1.08 0-2.07-.79-2.16-1.87-.06-.63.18-1.22.6-1.63.37-.38.88-.6 1.44-.6h2.08c.56.02 1 .47 1 1.02ZM7 12h7"></path></svg>
                </div>
            </div>
            <div class="sort">
                <div class="sortbox">
                    <div class="miniboxone"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"><path fill="#fff" d="M2.5 5.833h15-15Z"></path><path stroke="#fff" stroke-linecap="round" stroke-width="1.5" d="M2.5 5.833h15"></path><path fill="#fff" d="M5 10h10H5Z"></path><path stroke="#fff" stroke-linecap="round" stroke-width="1.5" d="M5 10h10"></path><path fill="#fff" d="M8.333 14.167h3.334-3.334Z"></path><path stroke="#fff" stroke-linecap="round" stroke-width="1.5" d="M8.333 14.167h3.334"></path></svg></div>
                    SORT BY
                    <br> Relevance
                </div>
                <div class="sortbox">CATEGORY </div>
                <div class="sortbox">
                    <div class="miniboxtwo"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"><path fill="#fff" d="M18.333 6.042h-5a.63.63 0 0 1-.625-.625.63.63 0 0 1 .625-.625h5a.63.63 0 0 1 .625.625.63.63 0 0 1-.625.625ZM5 6.042H1.667a.63.63 0 0 1-.625-.625.63.63 0 0 1 .625-.625H5a.63.63 0 0 1 .625.625.63.63 0 0 1-.625.625Z"></path><path fill="#fff" d="M8.333 8.958a3.55 3.55 0 0 1-3.541-3.541 3.55 3.55 0 0 1 3.541-3.542 3.55 3.55 0 0 1 3.542 3.542 3.55 3.55 0 0 1-3.542 3.541Zm0-5.833a2.29 2.29 0 0 0-2.291 2.292 2.29 2.29 0 0 0 2.291 2.291 2.29 2.29 0 0 0 2.292-2.291 2.29 2.29 0 0 0-2.292-2.292ZM18.333 15.208H15a.63.63 0 0 1-.625-.625.63.63 0 0 1 .625-.625h3.333a.63.63 0 0 1 .625.625.63.63 0 0 1-.625.625ZM6.667 15.208h-5a.63.63 0 0 1-.625-.625.63.63 0 0 1 .625-.625h5a.63.63 0 0 1 .625.625.63.63 0 0 1-.625.625Z"></path><path fill="#fff" d="M11.667 18.125a3.55 3.55 0 0 1-3.542-3.542 3.55 3.55 0 0 1 3.542-3.541 3.55 3.55 0 0 1 3.541 3.541 3.55 3.55 0 0 1-3.541 3.542Zm0-5.833a2.29 2.29 0 0 0-2.292 2.291 2.29 2.29 0 0 0 2.292 2.292 2.29 2.29 0 0 0 2.291-2.292 2.29 2.29 0 0 0-2.291-2.291Z"></path></svg></div>
                    FILTERS
                </div>
            </div>

        </div>

        <div id="spacing"></div>
        <div class="table">
            <% products.forEach(product => { %>
                <div class="box1">
                    <div class="model_pic">
                        <div class="rating">
                            <% var randomNumber = Math.random(); %>

                                <% var scaledNumber = (randomNumber * 4) + 1.0; %>

                                    <% ratn = scaledNumber.toFixed(1); %>
                                        <%= ratn %>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#90E1BA" viewBox="0 0 32 32" style="height:12px;width:12px;margin-left:2px;fill:#EB9E24"><path d="m18.307 4.68 2.346 4.693c.32.654 1.174 1.28 1.894 1.4l4.253.707c2.72.453 3.36 2.427 1.4 4.373l-3.307 3.307c-.56.56-.866 1.64-.693 2.413l.947 4.094c.746 3.24-.974 4.493-3.84 2.8l-3.987-2.36c-.72-.427-1.907-.427-2.64 0l-3.987 2.36c-2.853 1.693-4.586.426-3.84-2.8l.947-4.094c.173-.773-.133-1.853-.693-2.413L3.8 15.853c-1.947-1.946-1.32-3.92 1.4-4.373l4.253-.707c.707-.12 1.56-.746 1.88-1.4L13.68 4.68c1.28-2.547 3.36-2.547 4.627 0Z"></path></svg>
                        </div>
                        <img loading="lazy" src="<%= product.image %>">
                    </div>
                    <div id="price">
                        <div id="offer">
                            <% function randomIntFromInterval(min, max) { %>
                                <% return Math.floor(Math.random() * (max - min + 1) + min); %>
                                    <% } %>

                                        <% const percent = randomIntFromInterval(20, 70); %>

                                            <h6>
                                                <%= -percent %>%</h6>
                                            <% let final_price = (product.price*6).toFixed(2) %>
                                                <% let original_prices = parseFloat(((final_price*100)/(100-percent))) %>
                                                    <% let original_price = original_prices.toFixed(2) %>
                        </div>
                        <span>₹<%= final_price %></span>
                        <del>₹<%= original_price %></del>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" style="cursor:pointer;width:25px"><path fill="#292D32" d="M12 21.65c-.31 0-.61-.04-.86-.13-3.82-1.31-9.89-5.96-9.89-12.83 0-3.5 2.83-6.34 6.31-6.34 1.69 0 3.27.66 4.44 1.84a6.214 6.214 0 0 1 4.44-1.84c3.48 0 6.31 2.85 6.31 6.34 0 6.88-6.07 11.52-9.89 12.83-.25.09-.55.13-.86.13ZM7.56 3.85c-2.65 0-4.81 2.17-4.81 4.84 0 6.83 6.57 10.63 8.88 11.42.18.06.57.06.75 0 2.3-.79 8.88-4.58 8.88-11.42 0-2.67-2.16-4.84-4.81-4.84-1.52 0-2.93.71-3.84 1.94-.28.38-.92.38-1.2 0a4.77 4.77 0 0 0-3.85-1.94Z"></path></svg>
                    </div>
                    <div id="title">
                        <% let inputString = product.title; %>
                            <% let word = inputString.trim().split(/\s+/); %>
                                <% if(word.length > 6) { %>
                                    <% word = word.slice(0, 8); %>
                                        <% } %>
                                            <% let product_title = word.join(' '); %>
                                                <a href="#">
                                                    <%= product_title %>
                                                </a>
                    </div>
                    <div class="sizes">
                        <% function randomIntFromInterval(min, max) { %>
                            <% return Math.floor(Math.random() * (max - min + 1) + min); %>
                                <% } %>

                                    <% const rn = randomIntFromInterval(2, 5); %>
                                        <% for (let i = 0; i < rn; i++) { %>
                                            <div class="sizebox">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" fill="none"><path fill="#EB9E24" d="m2.667 12 .666-4.667H1c-.167 0-.27-.044-.309-.133-.038-.089-.013-.211.076-.367L4.667 0h.666l-.666 4.667H7c.167 0 .27.044.308.133.04.089.014.211-.075.367L3.333 12h-.666Z"></path></svg>
                                                <% var sizes = ["S", "M", "L", "XL", "XXL", "XXXL"]; %>

                                                    <%= sizes[i] %>

                                            </div>
                                            <% } %>
                    </div>
                    <div class="day">
                        <svg xmlns="http://www.w3.org/2000/svg" width="82" height="14" viewBox="0 0 82 16"><defs><radialGradient id="FastDeliveryThunder_svg__a" cx="0" cy="0" r="1" fx="0" fy="0" gradientTransform="matrix(82 0 0 32.13531 -31.538 8)" gradientUnits="userSpaceOnUse"><stop offset="0" style="stop-color:#ffb833;stop-opacity:0"></stop><stop offset="1" style="stop-color:#fff;stop-opacity:1"></stop></radialGradient><linearGradient id="FastDeliveryThunder_svg__b" x1="0" x2="2.751" y1="0" y2="17.973" gradientUnits="userSpaceOnUse"><stop offset="0" style="stop-color:#eb9e24;stop-opacity:0.501961"></stop><stop offset="1" style="stop-color:#eb9e24;stop-opacity:0"></stop></linearGradient></defs><path d="M.227 4.57A4.333 4.333 0 0 1 4.555.23h77.218v15.54H4.555a4.333 4.333 0 0 1-4.328-4.34Zm0 0" style="stroke:none;fill-rule:nonzero;fill:url(#FastDeliveryThunder_svg__a)"></path><path d="M12.367 9.559h-2.222a.207.207 0 0 1-.184-.301l3.035-6.176c.098-.195.395-.129.395.09v3.27h2.222c.153 0 .254.16.184.3l-3.04 6.176c-.093.195-.39.129-.39-.09ZM6.54 4.043h4.124a.23.23 0 0 1 0 .46H6.54a.23.23 0 0 1 0-.46ZM4.785 7.656H9.68c.125 0 .226.102.226.23 0 .13-.101.231-.226.231H4.785a.23.23 0 0 1 0-.46ZM5.66 11.957h4.895c.125 0 .226.102.226.23a.23.23 0 0 1-.226.231H5.66a.233.233 0 0 1-.23-.23.23.23 0 0 1 .23-.231ZM7.414 5.8h2.598a.23.23 0 0 1 0 .462H7.414a.23.23 0 0 1 0-.46Zm0 0" style="stroke:none;fill-rule:nonzero;fill:#eb9e24;fill-opacity:1"></path><path d="m25.559 5.074-.149.813h-2.687l-.336 1.93h2.093l-.144.804h-2.098l-.488 2.809h-1.04l1.122-6.356ZM25.5 8.887c.09-.504.273-.953.547-1.344.277-.39.617-.691 1.02-.906.402-.219.82-.328 1.257-.328.395 0 .727.078.992.238.266.152.47.344.602.574l.129-.73h1.047l-.883 5.039h-1.05l.136-.75a2.648 2.648 0 0 1-.828.593c-.328.16-.688.239-1.074.239-.38 0-.715-.086-1.012-.258a1.788 1.788 0 0 1-.692-.723 2.329 2.329 0 0 1-.246-1.086c0-.183.016-.37.055-.558Zm4.11.02a1.91 1.91 0 0 0 .035-.376c0-.41-.122-.73-.364-.96a1.21 1.21 0 0 0-.894-.356c-.266 0-.528.066-.785.2a1.86 1.86 0 0 0-.665.577c-.187.25-.312.547-.37.895-.028.117-.04.242-.04.375 0 .414.121.742.356.988.242.238.543.355.902.355.27 0 .527-.066.785-.199.254-.136.477-.332.664-.586.188-.261.313-.566.375-.914Zm3.812 2.605c-.344 0-.66-.059-.945-.176a1.658 1.658 0 0 1-.676-.5 1.233 1.233 0 0 1-.227-.953h1.012a.647.647 0 0 0 .207.578c.164.152.395.226.695.226.29 0 .532-.05.719-.156a.49.49 0 0 0 .281-.457c0-.168-.078-.304-.234-.41-.152-.105-.399-.219-.738-.348a7.258 7.258 0 0 1-.786-.355c-.199-.11-.375-.262-.52-.45a1.177 1.177 0 0 1-.218-.722c0-.293.082-.547.246-.766.172-.226.403-.402.703-.523.301-.129.649-.191 1.04-.191.351 0 .664.062.937.183.277.113.496.281.645.504.16.211.238.457.238.738 0 .086-.004.149-.008.192h-.984a.637.637 0 0 0-.211-.574c-.157-.149-.387-.22-.684-.22-.262 0-.473.056-.637.165a.52.52 0 0 0-.238.445c0 .192.082.344.246.457.164.114.418.235.758.367.309.121.562.239.758.348.191.11.36.258.5.438.14.183.207.414.207.687 0 .297-.09.563-.274.785-.175.219-.422.39-.734.512a3.09 3.09 0 0 1-1.078.176Zm4.476-1.48c-.011.081-.02.136-.02.163 0 .13.04.223.122.282.078.054.207.082.39.082h.637l-.152.87h-.82c-.403 0-.711-.081-.922-.238-.211-.164-.32-.425-.32-.777 0-.133.015-.262.039-.383l.492-2.789h-.594l.145-.851h.601l.219-1.254h1.05l-.218 1.254h1.21l-.148.851h-1.218Zm7.852-4.958c.59 0 1.102.102 1.531.301.43.203.758.492.985.871.23.375.347.824.347 1.344 0 .238-.023.465-.066.683a3.845 3.845 0 0 1-.711 1.684c-.356.477-.813.84-1.367 1.098a4.4 4.4 0 0 1-1.84.375h-2.066l1.12-6.356Zm-.973 5.559c.735 0 1.336-.211 1.801-.63.477-.421.777-1 .902-1.73.04-.21.055-.41.055-.593 0-.559-.164-.992-.492-1.297-.328-.313-.805-.469-1.438-.469h-1.03l-.829 4.719Zm7.305-4.324c.625 0 1.125.175 1.496.53.375.352.563.829.563 1.427 0 .14-.016.308-.043.504a4.702 4.702 0 0 1-.13.492h-3.835a2.104 2.104 0 0 0-.008.191c0 .36.11.649.328.86.223.214.516.32.875.32.563 0 .996-.235 1.3-.703h1.122c-.23.46-.57.843-1.02 1.14-.449.293-.968.442-1.558.442a2.36 2.36 0 0 1-1.102-.246 1.814 1.814 0 0 1-.738-.707 2.16 2.16 0 0 1-.266-1.086c0-.176.02-.368.055-.567.094-.52.277-.972.555-1.363.281-.395.629-.7 1.039-.914a2.96 2.96 0 0 1 1.367-.32Zm.977 2.203c.011-.11.015-.188.015-.239 0-.335-.11-.597-.336-.793-.218-.195-.504-.293-.855-.293a1.57 1.57 0 0 0-1.004.356c-.297.238-.5.562-.61.969Zm3.82-3.848-1.195 6.766h-1.04l1.196-6.766Zm1.7 1.059a.542.542 0 0 1-.403-.157.533.533 0 0 1-.153-.39c0-.215.079-.399.235-.551a.795.795 0 0 1 .558-.238c.164 0 .293.054.391.156a.545.545 0 0 1 .156.394.775.775 0 0 1-.238.56.766.766 0 0 1-.547.226Zm.39.668-.883 5.039h-1.04l.884-5.04Zm2.586 4.105 2.14-4.105h1.121L62.02 11.43h-1.258l-1.02-5.04h1.11Zm6.207-4.187c.625 0 1.12.175 1.492.53.379.352.566.829.566 1.427 0 .14-.015.308-.047.504a3.893 3.893 0 0 1-.128.492h-3.832a1.146 1.146 0 0 0-.012.191c0 .36.11.649.328.86.226.214.516.32.875.32.566 0 1-.235 1.305-.703h1.12c-.234.46-.574.843-1.023 1.14-.449.293-.969.442-1.558.442a2.36 2.36 0 0 1-1.102-.246 1.814 1.814 0 0 1-.738-.707c-.176-.309-.262-.672-.262-1.086 0-.176.016-.368.055-.567.09-.52.273-.972.554-1.363.278-.395.625-.7 1.04-.914.418-.215.875-.32 1.367-.32Zm.972 2.203c.012-.11.02-.188.02-.239 0-.335-.113-.597-.336-.793-.219-.195-.504-.293-.86-.293a1.56 1.56 0 0 0-1 .356c-.296.238-.5.562-.609.969Zm3.356-1.235c.207-.304.45-.543.73-.71a1.8 1.8 0 0 1 .946-.258l-.192 1.078h-.261c-.403 0-.723.101-.97.3-.241.204-.41.551-.507 1.043l-.477 2.7h-1.035l.883-5.04h1.04Zm3.18-.886.734 3.84 2.144-3.84h1.075l-4.375 7.406h-1.075l1.45-2.45-1.114-4.956Zm0 0" style="stroke:none;fill-rule:nonzero;fill:#0a3325;fill-opacity:1"></path><path d="M.199 3.999a3.798 3.798 0 0 1 3.8-3.797h67.802v13.596H4C1.9 13.798.2 12.1.2 10.001Zm0 0" style="fill:none;stroke-width:0.4;stroke-linecap:butt;stroke-linejoin:miter;stroke:url(#FastDeliveryThunder_svg__b);stroke-miterlimit:4" transform="scale(1.13889 1.14286)"></path></svg>
                        <% function randomIntFromInterval(min, max) { %>
                            <% return Math.floor(Math.random() * (max - min + 1) + min); %>
                                <% } %>

                                    <% const rnd = randomIntFromInterval(1, 7); %>
                                        <% const rndl = randomIntFromInterval(1, 3); %>
                                            <%= rnd %> -
                                                <%= rnd+rndl %> days
                    </div>
                </div>
                <% }); %>
        </div>

        <div class="end">
            <div class="endtextone">
                <h3>Shop for</h3>
                <pre>Denim | Bottoms | Tops | T-Shirts | Dresses | Co-ords |</pre>
                <pre>Jumpsuits Bodysuits | Winterwear</pre>

            </div>
            <div class="endtexttwo">
                <h3>Customer Policies</h3>
                <pre>Terms &amp; Conditions | About us | Sitemap | Privacy Policy | </pre>
                <pre> Refund Policy</pre>
            </div>

        </div>

        <div class="space"></div>

        <div id="footericons">

            <a href="/">
                <div class="bottomicon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="#1F1F1F" d="M17.79 22.75H6.21c-2.74 0-4.96-2.23-4.96-4.97v-7.41c0-1.36.84-3.07 1.92-3.91l5.39-4.2C10.18 1 12.77.94 14.45 2.12l6.18 4.33c1.19.83 2.12 2.61 2.12 4.06v7.28c0 2.73-2.22 4.96-4.96 4.96ZM9.48 3.44l-5.39 4.2c-.71.56-1.34 1.83-1.34 2.73v7.41a3.47 3.47 0 0 0 3.46 3.47h11.58c1.91 0 3.46-1.55 3.46-3.46v-7.28c0-.96-.69-2.29-1.48-2.83l-6.18-4.33c-1.14-.8-3.02-.76-4.11.09Z"></path><path fill="#292D32" d="M12 18.75c-.41 0-.75-.34-.75-.75v-3c0-.41.34-.75.75-.75s.75.34.75.75v3c0 .41-.34.75-.75.75Z"></path></svg>
                    <h4>Home</h4>
                </div>
            </a>

            <a href="/shop/1">
                <div class="bottomicon activetext">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="#39B277" d="m22.36 8.27-.29-2.77c-.42-3.02-1.79-4.25-4.72-4.25H6.59c-2.94 0-4.3 1.23-4.73 4.28l-.27 2.75c-.1 1.07.19 2.11.82 2.92.76.99 1.93 1.55 3.23 1.55 1.26 0 2.47-.63 3.23-1.64A3.754 3.754 0 0 0 12 12.75c1.29 0 2.42-.6 3.11-1.6.77.99 1.96 1.6 3.2 1.6 1.33 0 2.53-.59 3.28-1.63.6-.8.87-1.81.77-2.85Z"></path><path d="M11.35 16.66a2.495 2.495 0 0 0-2.23 2.49v2.74c0 .27.22.49.49.49h4.77c.27 0 .49-.22.49-.49V19.5c.01-2.09-1.22-3.08-3.52-2.84Z"></path><path fill="#39B277" d="M21.37 14.4v2.98c0 2.76-2.24 5-5 5a.49.49 0 0 1-.49-.49V19.5c0-1.28-.39-2.28-1.15-2.96-.67-.61-1.58-.91-2.71-.91-.25 0-.5.01-.77.04a3.485 3.485 0 0 0-3.13 3.48v2.74c0 .27-.22.49-.49.49-2.76 0-5-2.24-5-5v-2.96a1 1 0 0 1 1.34-.94c.27.09.54.16.82.2.12.02.25.04.37.04.16.02.32.03.48.03 1.16 0 2.3-.43 3.2-1.17.86.74 1.98 1.17 3.16 1.17 1.19 0 2.29-.41 3.15-1.15.9.73 2.02 1.15 3.16 1.15.18 0 .36-.01.53-.03.12-.01.23-.02.34-.04.31-.04.59-.13.87-.22a.997.997 0 0 1 1.32.94Z"></path></svg>
                    <h4>Shop</h4>
                </div>
            </a>

            <a href="/category">
                <div class="bottomicon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path stroke="#1F1F1F" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5" d="M17 10h2c2 0 3-1 3-3V5c0-2-1-3-3-3h-2c-2 0-3 1-3 3v2c0 2 1 3 3 3ZM5 22h2c2 0 3-1 3-3v-2c0-2-1-3-3-3H5c-2 0-3 1-3 3v2c0 2 1 3 3 3ZM6 10a4 4 0 1 0 0-8 4 4 0 0 0 0 8ZM18 22a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z"></path></svg>
                    <h4>Category</h4>
                </div>
            </a>

            <a href="/wishlist">
                <div class="bottomicon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="#292D32" d="M12 21.65c-.31 0-.61-.04-.86-.13-3.82-1.31-9.89-5.96-9.89-12.83 0-3.5 2.83-6.34 6.31-6.34 1.69 0 3.27.66 4.44 1.84a6.214 6.214 0 0 1 4.44-1.84c3.48 0 6.31 2.85 6.31 6.34 0 6.88-6.07 11.52-9.89 12.83-.25.09-.55.13-.86.13ZM7.56 3.85c-2.65 0-4.81 2.17-4.81 4.84 0 6.83 6.57 10.63 8.88 11.42.18.06.57.06.75 0 2.3-.79 8.88-4.58 8.88-11.42 0-2.67-2.16-4.84-4.81-4.84-1.52 0-2.93.71-3.84 1.94-.28.38-.92.38-1.2 0a4.77 4.77 0 0 0-3.85-1.94Z"></path></svg>
                    <h4>Wishlist</h4>
                </div>
            </a>

            <a href="/profile">
                <div class="bottomicon">

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path stroke="#1F1F1F" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12.12 12.78a.963.963 0 0 0-.24 0 3.269 3.269 0 0 1-3.16-3.27c0-1.81 1.46-3.28 3.28-3.28a3.276 3.276 0 0 1 .12 6.55ZM18.74 19.38A9.934 9.934 0 0 1 12 22c-2.6 0-4.96-.99-6.74-2.62.1-.94.7-1.86 1.77-2.58 2.74-1.82 7.22-1.82 9.94 0 1.07.72 1.67 1.64 1.77 2.58Z"></path><path stroke="#1F1F1F" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Z"></path></svg>
                    <h4>Me</h4>
                </div>
            </a>

        </div>
    </header>
    <script src="/javascripts/page2.js"></script>
</body>

</html>