<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/page_three.css">
</head>

<body>
    <header>
        <div class="head">

            <div id="bottom">
                <p>use <b>NEW200</b></p><pre> </pre>to get flat Rs. 150 off
                <p></p>

            </div>

            <div id="navbar">
                <div class="nav-logo">

                    <div onclick="goBack()" class="nav-back">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" fill="none" stroke="#292D32" style="width: 24px; height: 24px; cursor: pointer;"><path stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5" d="m9.57 6.387-6.07 6.07 6.07 6.07M20.5 12.457H3.67"></path></svg>
                    </div>

                    <div id="logo">
                        <img src="/images/newme.png">
                    </div>
                </div>
                <div id="navicons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" fill="none"><path stroke="#292D32" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9.583 18.38a7.917 7.917 0 1 0 0-15.834 7.917 7.917 0 0 0 0 15.834ZM18.333 19.213l-1.666-1.667"></path></svg>                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" fill="none" color="#000000"><mask id="Cart_svg__a" fill="currentColor"><path d="M14.242 18.958H6.75c-1.433 0-2.508-.383-3.175-1.141-.667-.759-.925-1.859-.75-3.284l.75-6.25c.217-1.841.683-3.491 3.933-3.491h6c3.242 0 3.709 1.65 3.934 3.491l.75 6.25c.166 1.425-.084 2.534-.75 3.284-.692.758-1.759 1.141-3.2 1.141ZM7.5 6.042c-2.4 0-2.517.95-2.692 2.383l-.75 6.25c-.125 1.058.025 1.833.45 2.308.425.475 1.175.717 2.242.717h7.492c1.066 0 1.816-.242 2.241-.717.425-.475.575-1.25.45-2.308l-.75-6.25c-.175-1.442-.283-2.384-2.691-2.384H7.5Z"></path></mask><path fill="currentColor" d="M14.242 18.958H6.75c-1.433 0-2.508-.383-3.175-1.141-.667-.759-.925-1.859-.75-3.284l.75-6.25c.217-1.841.683-3.491 3.933-3.491h6c3.242 0 3.709 1.65 3.934 3.491l.75 6.25c.166 1.425-.084 2.534-.75 3.284-.692.758-1.759 1.141-3.2 1.141ZM7.5 6.042c-2.4 0-2.517.95-2.692 2.383l-.75 6.25c-.125 1.058.025 1.833.45 2.308.425.475 1.175.717 2.242.717h7.492c1.066 0 1.816-.242 2.241-.717.425-.475.575-1.25.45-2.308l-.75-6.25c-.175-1.442-.283-2.384-2.691-2.384H7.5Z"></path><path fill="currentColor" d="m2.825 14.533 1.489.183v-.004l-1.49-.179Zm.75-6.25 1.49.179v-.004l-1.49-.175Zm13.867 0 1.489-.179v-.003l-1.49.182Zm.75 6.25 1.49-.174-.001-.005-1.49.18Zm-.75 3.284 1.108 1.01.006-.007.007-.007-1.121-.996ZM4.808 8.425 3.32 8.243v.003l1.49.179Zm-.75 6.25-1.489-.179v.003l1.49.176Zm12.875 0 1.49-.176v-.003l-1.49.179Zm-.75-6.25 1.49-.179v-.002l-1.49.18Zm-1.941 9.033H6.75v3h7.492v-3Zm-7.492 0c-1.194 0-1.773-.318-2.048-.632l-2.254 1.98c1.058 1.204 2.629 1.652 4.302 1.652v-3Zm-2.048-.632c-.287-.326-.532-.937-.388-2.11l-2.978-.366c-.206 1.678.066 3.266 1.112 4.457l2.254-1.98Zm-.388-2.114.75-6.25-2.978-.358-.75 6.25 2.978.358Zm.75-6.254c.109-.92.253-1.371.48-1.636.157-.184.58-.53 1.964-.53v-3c-1.865 0-3.301.478-4.244 1.58-.873 1.02-1.07 2.314-1.179 3.236l2.98.35Zm2.444-2.167h6v-3h-6v3Zm6 0c1.379 0 1.8.346 1.959.531.228.267.373.72.486 1.643l2.977-.364c-.112-.919-.313-2.211-1.184-3.23-.942-1.1-2.374-1.58-4.238-1.58v3Zm2.444 2.17.75 6.25 2.979-.357-.75-6.25-2.979.358Zm.75 6.246c.14 1.193-.107 1.804-.382 2.113l2.243 1.993c1.058-1.19 1.312-2.797 1.119-4.454l-2.98.348Zm-.369 2.099c-.31.34-.9.652-2.091.652v3c1.692 0 3.234-.453 4.308-1.63l-2.217-2.022ZM7.5 4.54c-1.322 0-2.535.248-3.327 1.188-.375.445-.558.936-.663 1.353-.1.4-.15.827-.19 1.161l2.977.364c.047-.383.077-.612.123-.794.041-.164.07-.179.047-.15-.09.106-.045-.122 1.033-.122v-3ZM3.319 8.246l-.75 6.25 2.979.357.75-6.25-2.979-.357Zm-.75 6.253c-.143 1.206-.036 2.526.821 3.484l2.236-2-.001-.002a.81.81 0 0 1-.075-.22c-.037-.19-.052-.484-.002-.91l-2.98-.352Zm.821 3.484c.851.951 2.138 1.217 3.36 1.217v-3c-.429 0-.72-.05-.904-.109a.826.826 0 0 1-.177-.076.193.193 0 0 1-.043-.032l-2.236 2ZM6.75 19.2h7.492v-3H6.75v3Zm7.492 0c1.222 0 2.508-.266 3.36-1.217l-2.237-2c0 .001-.011.013-.042.032a.827.827 0 0 1-.178.076c-.184.06-.475.109-.903.109v3Zm3.36-1.217c.856-.958.963-2.278.82-3.484l-2.978.352c.05.426.035.72-.002.91a.806.806 0 0 1-.071.214.073.073 0 0 1-.006.008l2.236 2Zm.82-3.487-.75-6.25-2.978.358.75 6.25 2.979-.358Zm-.75-6.252c-.04-.334-.09-.763-.189-1.162-.104-.417-.285-.91-.66-1.356-.794-.942-2.011-1.184-3.331-1.184v3c1.088 0 1.13.228 1.036.117-.026-.03.003-.018.044.147.046.184.075.413.122.8l2.978-.362Zm-4.18-3.702H7.5v3h5.992v-3Z" mask="url(#Cart_svg__a)"></path><mask id="Cart_svg__b" fill="currentColor"><path d="M13.833 7.292a.63.63 0 0 1-.625-.625V3.75c0-.9-.558-1.458-1.458-1.458h-2.5c-.9 0-1.458.558-1.458 1.458v2.917a.63.63 0 0 1-.625.625.63.63 0 0 1-.625-.625V3.75c0-1.592 1.116-2.708 2.708-2.708h2.5c1.592 0 2.708 1.116 2.708 2.708v2.917a.63.63 0 0 1-.625.625Z"></path></mask><path fill="currentColor" d="M13.833 7.292a.63.63 0 0 1-.625-.625V3.75c0-.9-.558-1.458-1.458-1.458h-2.5c-.9 0-1.458.558-1.458 1.458v2.917a.63.63 0 0 1-.625.625.63.63 0 0 1-.625-.625V3.75c0-1.592 1.116-2.708 2.708-2.708h2.5c1.592 0 2.708 1.116 2.708 2.708v2.917a.63.63 0 0 1-.625.625Z"></path><path fill="currentColor" d="M13.833 5.792a.87.87 0 0 1 .875.875h-3a2.13 2.13 0 0 0 2.125 2.124v-3Zm.875.875V3.75h-3v2.917h3Zm0-2.917c0-.764-.243-1.54-.83-2.127-.588-.588-1.364-.831-2.128-.831v3c.07 0 .095.01.086.007a.281.281 0 0 1-.135-.135c-.004-.009.007.015.007.086h3ZM11.75.792h-2.5v3h2.5v-3Zm-2.5 0c-.764 0-1.54.243-2.127.83-.588.588-.831 1.364-.831 2.128h3c0-.07.01-.095.007-.086a.286.286 0 0 1-.135.135c-.009.003.015-.007.086-.007v-3ZM6.292 3.75v2.917h3V3.75h-3Zm0 2.917a.87.87 0 0 1 .875-.875v3a2.13 2.13 0 0 0 2.125-2.125h-3Zm.875-.875a.87.87 0 0 1 .875.875h-3A2.13 2.13 0 0 0 7.167 8.79v-3Zm.875.875V3.75h-3v2.917h3Zm0-2.917c0-.436.146-.72.318-.89.17-.172.454-.318.89-.318v-3c-1.156 0-2.227.411-3.012 1.196-.785.785-1.196 1.856-1.196 3.012h3ZM9.25 2.542h2.5v-3h-2.5v3Zm2.5 0c.436 0 .72.146.89.317.172.172.318.455.318.89h3c0-1.155-.411-2.226-1.196-3.01-.785-.786-1.856-1.197-3.012-1.197v3Zm1.208 1.208v2.917h3V3.75h-3Zm0 2.917a.87.87 0 0 1 .875-.875v3a2.13 2.13 0 0 0 2.125-2.125h-3Z" mask="url(#Cart_svg__b)"></path><mask id="Cart_svg__c" fill="currentColor"><path d="M17.508 14.817H7.167a.63.63 0 0 1-.625-.625.63.63 0 0 1 .625-.625h10.341a.63.63 0 0 1 .625.625.63.63 0 0 1-.625.625Z"></path></mask><path fill="currentColor" d="M17.508 14.817H7.167a.63.63 0 0 1-.625-.625.63.63 0 0 1 .625-.625h10.341a.63.63 0 0 1 .625.625.63.63 0 0 1-.625.625Z"></path><path fill="currentColor" d="M17.508 13.317H7.167v3h10.341v-3Zm-10.341 0a.87.87 0 0 1 .875.875h-3a2.13 2.13 0 0 0 2.125 2.125v-3Zm.875.875a.87.87 0 0 1-.875.875v-3a2.13 2.13 0 0 0-2.125 2.125h3Zm-.875.875h10.341v-3H7.167v3Zm10.341 0a.87.87 0 0 1-.875-.875h3a2.13 2.13 0 0 0-2.125-2.125v3Zm-.875-.875a.87.87 0 0 1 .875-.875v3a2.13 2.13 0 0 0 2.125-2.125h-3Z" mask="url(#Cart_svg__c)"></path></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" style="width: 25px;"><path stroke="#292D32" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M18.04 13.55c-.42.41-.66 1-.6 1.63.09 1.08 1.08 1.87 2.16 1.87h1.9v1.19c0 2.07-1.69 3.76-3.76 3.76H6.26c-2.07 0-3.76-1.69-3.76-3.76v-6.73c0-2.07 1.69-3.76 3.76-3.76h11.48c2.07 0 3.76 1.69 3.76 3.76v1.44h-2.02c-.56 0-1.07.22-1.44.6Z"></path><path stroke="#292D32" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2.5 12.41V7.84c0-1.19.73-2.25 1.84-2.67l7.94-3a1.9 1.9 0 0 1 2.57 1.78v3.8M22.559 13.97v2.06c0 .55-.44 1-1 1.02h-1.96c-1.08 0-2.07-.79-2.16-1.87-.06-.63.18-1.22.6-1.63.37-.38.88-.6 1.44-.6h2.08c.56.02 1 .47 1 1.02ZM7 12h7"></path></svg>
                </div>
            </div>
        </div>


        <div id="spacing"></div>


        <section>
            <% apis.forEach(api => {  %>
                <details class="details">
                    <summary>
                        <div style="background-color: <%= api.bg_color %>;" class="dropdown">
                            <div class="photo">
                                <img src="<%= api.img %>">
                            </div>
                            <div class="droptext">
                                <h3>
                                    <%= api.heading %>
                                </h3>
                                <p>
                                    <%= api.text %>
                                </p>
                            </div>
                        </div>
                    </summary>
                    <% if(api.option.length != 0) { %>
                        <div style="background-color: <%= api.bg_color %>" class="dropdetails">
                            <% api.option.forEach(option => { %>
                                <hr style="background-color: <%= api.hr_color %>;">
                                <a href="#">
                                    <p>
                                        <%= option %>
                                    </p>
                                </a>
                                <% }); %>
                        </div>
                        <% } %>
                </details>
                <% }); %>
        </section>




        <footer>
            <div class="space"></div>
            <div id="footericons">
                <a href="/">
                    <div class="bottomicon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="#1F1F1F" d="M17.79 22.75H6.21c-2.74 0-4.96-2.23-4.96-4.97v-7.41c0-1.36.84-3.07 1.92-3.91l5.39-4.2C10.18 1 12.77.94 14.45 2.12l6.18 4.33c1.19.83 2.12 2.61 2.12 4.06v7.28c0 2.73-2.22 4.96-4.96 4.96ZM9.48 3.44l-5.39 4.2c-.71.56-1.34 1.83-1.34 2.73v7.41a3.47 3.47 0 0 0 3.46 3.47h11.58c1.91 0 3.46-1.55 3.46-3.46v-7.28c0-.96-.69-2.29-1.48-2.83l-6.18-4.33c-1.14-.8-3.02-.76-4.11.09Z"></path><path fill="#292D32" d="M12 18.75c-.41 0-.75-.34-.75-.75v-3c0-.41.34-.75.75-.75s.75.34.75.75v3c0 .41-.34.75-.75.75Z"></path></svg>
                        <h4>Home</h4>
                    </div>
                </a>
                <a href="/shop/1">
                    <div class="bottomicon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="#292D32" d="M14.7 22.75H9.3c-4.94 0-7.04-2.11-7.04-7.04v-4.49c0-.41.34-.75.75-.75s.75.34.75.75v4.49c0 4.09 1.45 5.54 5.54 5.54h5.39c4.09 0 5.54-1.45 5.54-5.54v-4.49c0-.41.34-.75.75-.75s.75.34.75.75v4.49c.01 4.93-2.1 7.04-7.03 7.04Z"></path><path fill="#292D32" d="M12 12.75c-1.1 0-2.1-.43-2.81-1.22s-1.04-1.82-.93-2.92l.67-6.68c.04-.38.36-.68.75-.68h4.67c.39 0 .71.29.75.68l.67 6.68c.11 1.1-.22 2.13-.93 2.92-.74.79-1.74 1.22-2.84 1.22Zm-1.65-10-.6 6.01c-.07.67.13 1.3.55 1.76.85.94 2.55.94 3.4 0 .42-.47.62-1.1.55-1.76l-.6-6.01h-3.3Z"></path><path fill="#292D32" d="M18.31 12.75c-2.03 0-3.84-1.64-4.05-3.66l-.7-7.01c-.02-.21.05-.42.19-.58.14-.16.34-.25.56-.25h3.05c2.94 0 4.31 1.23 4.72 4.25l.28 2.78c.12 1.18-.24 2.3-1.01 3.15-.77.85-1.85 1.32-3.04 1.32Zm-3.17-10 .62 6.19c.13 1.25 1.29 2.31 2.55 2.31.76 0 1.44-.29 1.93-.82.48-.53.7-1.24.63-2l-.28-2.75c-.31-2.26-1.04-2.93-3.23-2.93h-2.22ZM5.64 12.75c-1.19 0-2.27-.47-3.04-1.32-.77-.85-1.13-1.97-1.01-3.15l.27-2.75c.42-3.05 1.79-4.28 4.73-4.28h3.05c.21 0 .41.09.56.25.15.16.21.37.19.58l-.7 7.01c-.21 2.02-2.02 3.66-4.05 3.66Zm.95-10c-2.19 0-2.92.66-3.24 2.95l-.27 2.73c-.08.76.15 1.47.63 2s1.16.82 1.93.82c1.26 0 2.43-1.06 2.55-2.31l.62-6.19H6.59ZM14.5 22.75h-5c-.41 0-.75-.34-.75-.75v-2.5c0-2.1 1.15-3.25 3.25-3.25s3.25 1.15 3.25 3.25V22c0 .41-.34.75-.75.75Zm-4.25-1.5h3.5V19.5c0-1.26-.49-1.75-1.75-1.75s-1.75.49-1.75 1.75v1.75Z"></path></svg>
                        <h4>Shop</h4>
                    </div>
                </a>
                <a href="/category">
                    <div class="bottomicon activetext">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="#39B277" stroke="#39B277" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5" d="M17 10h2c2 0 3-1 3-3V5c0-2-1-3-3-3h-2c-2 0-3 1-3 3v2c0 2 1 3 3 3ZM5 22h2c2 0 3-1 3-3v-2c0-2-1-3-3-3H5c-2 0-3 1-3 3v2c0 2 1 3 3 3ZM6 10a4 4 0 1 0 0-8 4 4 0 0 0 0 8ZM18 22a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z"></path></svg>
                        <h4>Category</h4>
                    </div>
                </a>
                <a href="/wishlist">
                    <div class="bottomicon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="#292D32" d="M12 21.65c-.31 0-.61-.04-.86-.13-3.82-1.31-9.89-5.96-9.89-12.83 0-3.5 2.83-6.34 6.31-6.34 1.69 0 3.27.66 4.44 1.84a6.214 6.214 0 0 1 4.44-1.84c3.48 0 6.31 2.85 6.31 6.34 0 6.88-6.07 11.52-9.89 12.83-.25.09-.55.13-.86.13ZM7.56 3.85c-2.65 0-4.81 2.17-4.81 4.84 0 6.83 6.57 10.63 8.88 11.42.18.06.57.06.75 0 2.3-.79 8.88-4.58 8.88-11.42 0-2.67-2.16-4.84-4.81-4.84-1.52 0-2.93.71-3.84 1.94-.28.38-.92.38-1.2 0a4.77 4.77 0 0 0-3.85-1.94Z"></path></svg>
                        <h4>Wishlist</h4>
                    </div>
                </a>
                <a href="/profile">
                    <div class="bottomicon">

                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path stroke="#1F1F1F" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12.12 12.78a.963.963 0 0 0-.24 0 3.269 3.269 0 0 1-3.16-3.27c0-1.81 1.46-3.28 3.28-3.28a3.276 3.276 0 0 1 .12 6.55ZM18.74 19.38A9.934 9.934 0 0 1 12 22c-2.6 0-4.96-.99-6.74-2.62.1-.94.7-1.86 1.77-2.58 2.74-1.82 7.22-1.82 9.94 0 1.07.72 1.67 1.64 1.77 2.58Z"></path><path stroke="#1F1F1F" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Z"></path></svg>
                        <h4>Me</h4>
                    </div>
                </a>

            </div>
        </footer>
    </header>

    <script src="/javascripts/page_three.js"></script>
</body>

</html>